.flex__row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8rem;
}
.align__parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}