.nav__flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 62rem;
    flex-wrap: wrap;
}
.flex__side{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
sup{
    vertical-align: super;
font-size: smaller
}